numpy==1.19.1
pandas==1.1.1
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.6
simplejson==3.17.2
Werkzeug==1.0.1
requests==2.7.0
db-sqlite3==0.0.1
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==0.8.0
jsonify==0.5
workbook==1.1
xlwt==0.7.4
Flask-Jsonpify==1.5.0
Camelot==13.04.13-gpl-pyqt
openpyxl==3.0.5
zipfile36==0.1.3
